.text-decorator-none {
    display: flex;
    align-items: center;
    font-style: italic;
    font-weight: bold;
}

.text-decorator-none-especial {
    color: inherit;
    text-decoration: none;
    align-items: center;
    font-style: italic;
    font-weight: bold;
    text-align: ;

}

.cursor {
    cursor: pointer;
}