.box1{
    background-color: #eb2590;
    height: 120px;
}

.box2{
    background-color: #E11584;
    height: 60px;
}

.redes{
    font-size: 60px !important;
    color: white;
}

.textos{
    color: white;
}