.text-decorator-none {
    text-decoration: none;
    color: white;
}

.rodapeFixo {
    bottom: 0;
    position: display flex;
    width: 100%;
    text-align: center;
}

.box1 {
    background-color: #FF69B4;
    height: 120px;
}

.box2 {
    background-color: #FF69B4;
    height: 60px;
}

.redes {
    font-size: 60px !important;
    color: white;
}

.textos {
    color: white;
}